body {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 10px;
}

li:last-child {
    margin-right: 0px;
}

a,
p {
    color: #2c3e50;
}

.content {
    position: absolute;
    left: 0;
    right: 0;
    top: 35%;
    bottom: 0;
    margin: auto;
}

p {
    font-size: 18px;
}

@media (max-width: 360px) {
    .fa-3x {
        font-size: 1.7em;
    }
}
